---
import type { GetStaticPaths, Page } from 'astro'
import type { CollectionEntry } from 'astro:content'

import { Paginator, PostPreview } from 'astro-pure/components/pages'
import { getBlogCollectionByLocale, getUniqueTags, sortMDByDate, getLangLocales } from 'astro-pure/server'
import { Button, Icon } from 'astro-pure/user'
import PageLayout from '@/layouts/BaseLayout.astro'
import config from '@/site-config'
import { getRelativeLocaleUrl } from 'astro:i18n'
import { useTranslations } from 'astro-pure/utils'

export const prerender = true

export const getStaticPaths = (async ({ paginate }) => {
  const locales = await getLangLocales()
  const pages = await Promise.all(
    locales.map(async (lang) => {
      const collections = sortMDByDate(await getBlogCollectionByLocale(lang))
      const uniqueTags = getUniqueTags(collections)
      const collectionsCount = collections.length
      return paginate(collections, {
        pageSize: config.content.blogPageSize,
        params: { lang },
        props: { uniqueTags, collectionsCount }
      })
    })
  )
  return pages.flat()
}) satisfies GetStaticPaths

interface Props {
  page: Page<CollectionEntry<'blog'>>
  uniqueTags: string[]
  collectionsCount: number
}

let { page, uniqueTags, collectionsCount } = Astro.props as Props

if(!Astro.currentLocale) {
  
}

const { t } = useTranslations(['common', 'blog'], Astro.currentLocale)
const meta = {
  description: t('description'),
  title: t('title')
}

const paginationProps = {
  ...(page.url.prev && {
    prevUrl: {
      text: t('pagination.previous_posts'),
      url: page.url.prev
    }
  }),
  ...(page.url.next && {
    nextUrl: {
      text: t('pagination.next_posts'),
      url: page.url.next
    }
  })
}

const archivesHref = getRelativeLocaleUrl(Astro.currentLocale as string, '/archives')
const listTagsHref = getRelativeLocaleUrl(Astro.currentLocale as string, '/tags')
const tagHref = (tag: string) => getRelativeLocaleUrl(Astro.currentLocale as string, `/tags/${tag}`)
---

<PageLayout {meta}>
  <Button title={t('navigation.back')} href={getRelativeLocaleUrl(Astro.currentLocale as string)} variant='back' />
  <main class='mt-6 lg:mt-10'>
    <div id='content-header' class='animate'>
      <h1 class='mb-6 mt-6 text-3xl font-medium sm:mt-10'>{t('title')}</h1>
    </div>
    {
      page.data.length === 0 ? (
        <p>{t('no_posts')}</p>
      ) : (
        <div class='grid gap-y-16 sm:grid-cols-[3fr_1fr] sm:gap-x-8'>
          <section aria-label='Blog posts list' class='animate' id='content'>
            <div class='mb-3 flex flex-col justify-between text-sm sm:mb-5 sm:flex-row'>
              <span class='text-muted-foreground'>
                {t('pagination.page_status_posts', {
                  page: page.currentPage,
                  count: page.data.length,
                  total: collectionsCount
                })}
              </span>
              <a aria-label='View all blog by years' href={archivesHref} data-astro-prefetch>
                {t('archives.view_all')}
              </a>
            </div>
            <ul class='flex flex-col gap-y-4 text-start'>
              {page.data.map((post) => (
                <PostPreview post={post} detailed />
              ))}
            </ul>
            <Paginator {...paginationProps} />
          </section>

          {!!uniqueTags.length && (
            <aside class='animate' id='sidebar'>
              <h2 class='mb-4 flex items-center text-lg font-semibold'>
                <Icon name='tag-2' class='me-2' />
                {t('tags.title')}
              </h2>
              <ul class='text-bgColor flex flex-wrap gap-2'>
                {uniqueTags.map((tag) => (
                  <li>
                    <Button title={tag} href={tagHref(tag)} variant='pill' />
                  </li>
                ))}
              </ul>
              <span class='mt-4 block sm:text-end'>
                <a aria-label='View all blog categories' href={listTagsHref} data-astro-prefetch>
                  {t('tags.view_all')}
                </a>
              </span>
            </aside>
          )}
        </div>
      )
    }
  </main>
</PageLayout>
